# --- COMPILACIÓN Y ADJUNTOS (Java) ---
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz

# --- NETBEANS ---
/build/
/dist/
/nbproject/private/
/nbbuild/
/nbdist/
nbactions.xml
nb-configuration.xml

# --- MAVEN ---
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties

# --- GRADLE ---
/.gradle/
/build/
!gradle-wrapper.jar

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
